body{
  background: purple
}
#div1{
      border: 1px solid red;
      background-image: url(../imgs/carSelected.png);
      width:466px;
      height:453px;
      transform: rotate(45deg);
      border: 1px solid red;
    }